/*========================================*/
/*---------- [_Section_About] ------------*/
/*========================================*/
.webex_text_reveal > div {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #1d1d1b), color-stop(50%, rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to right, #ffffff 50%, #555 50%);
  padding: 0;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.h1-about-text-reveal {
  position: relative;
  padding: 80px 0 0;
  display: flex;
  flex-direction: column;
  .h1-about-text-reveal-title {
    @media screen and (max-width: 425px) {
      font-size: 28px;
      line-height: 48px;
    }
    font-size: 48px;
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: 66px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.td-text-invert > div {
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, rgb(28, 29, 31) 50%, rgb(168, 169, 169) 50%);
}

.h3_ab_vertical_text {
  writing-mode: vertical-lr;
  display: inline-block;
  text-orientation: upright;
  letter-spacing: -85px;
  font-size: 140px;
  font-family: var(--heading-font);
  margin-bottom: 60px;
  background: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
}
