/*========================================*/
/*---------- [_Section_Project] ----------*/
/*========================================*/
.image-anime {
  position: relative;
  overflow: hidden;
  &:hover {
    &:after {
      height: 250%;
      transition: all 600ms linear;
      background-color: transparent;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
  }
}
.project_style1_item {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .project_thumb {
    position: relative;
    border-radius: 10px 10px 0 0;
    img {
      border-radius: 10px 10px 0 0;
    }
    &.square-size {
      img {
        height: 430px;
        width: 100%;
        object-fit: cover;
      }
    }
    &.thumb-size {
      img {
        height: 430px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .project_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: #ffffff0f;
    backdrop-filter: blur(15px);
    border-radius: 0 0 6px 6px;
    .project_title_area {
      .project_category {
        ul {
          display: flex;
          align-items: center;
          li {
            margin-left: 20px;
            position: relative;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              &:after {
                display: none;
              }
            }
            &:after {
              content: "";
              height: 3px;
              width: 3px;
              background: var(--webex-primary-color);
              position: absolute;
              top: 50%;
              left: calc(100% + 8px);
              border-radius: 50%;
            }
            a {
              color: #ccc;
            }
          }
        }
      }
      .title {
        margin-top: 5px;
      }
    }
    .project_link {
      display: flex;
      i {
        font-size: 32px;
        color: #ccc;
        font-weight: bold;
      }
      &:hover,
      &:focus {
        color: var(--webex-primary-color);
        i {
          color: var(--webex-primary-color);
        }
      }
    }
  }
}
//Project Style 02
.project_style2_item {
  position: relative;
  z-index: 1;
  &:hover {
    .project_thumb {
      .project_link {
        opacity: 1;
        visibility: visible;
        top: 50%;
      }
    }
  }
  .project_thumb {
    position: relative;
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
    .project_link {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #fff;
      width: 120px;
      height: 120px;
      display: inline-flex;
      background: var(--webex-primary-color4);
      border-radius: 50%;
      padding: 30px 10px;
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      visibility: hidden;
      align-items: center;
      justify-content: center;
    }
  }
  .project_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px 0;
    .project_title_area {
      .project_category {
        ul {
          display: flex;
          align-items: center;
          li {
            margin-left: 20px;
            position: relative;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              &:after {
                display: none;
              }
            }
            &:after {
              content: "";
              height: 3px;
              width: 3px;
              background: var(--webex-primary-color);
              position: absolute;
              top: 50%;
              left: calc(100% + 8px);
              border-radius: 50%;
            }
            a {
              color: #ccc;
            }
          }
        }
      }
      .title {
        margin-top: 5px;
      }
    }
  }
}
//Project Style 03
.project_style3_item {
  position: relative;
  z-index: 1;
  &:hover {
    .project_thumb {
      img {
        @include transform(scale(1.15));
      }
    }
  }
  .project_thumb {
    position: relative;
    border-radius: 10px;
    img {
      border-radius: 10px;
      @include transition(all 600ms ease-out 0s);
    }
  }
  .project_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px 0;
    .project_title_area {
      .project_category {
        ul {
          display: flex;
          align-items: center;
          li {
            margin-left: 20px;
            position: relative;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              &:after {
                display: none;
              }
            }
            &:after {
              content: "";
              height: 3px;
              width: 3px;
              background: var(--webex-primary-color5);
              position: absolute;
              top: 50%;
              left: calc(100% + 8px);
              border-radius: 50%;
            }
            a {
              color: #ccc;
            }
          }
        }
      }
      .title {
        margin-top: 5px;
      }
    }
    .project_link {
      i {
        font-size: 32px;
        color: #ccc;
        font-weight: bold;
      }
      &:hover,
      &:focus {
        color: var(--webex-primary-color);
        i {
          color: var(--webex-primary-color);
        }
      }
    }
  }
}
//project_01_dots
.project_01_dots {
  margin-top: 30px;
  text-align: center;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transition: 0.4s;
    background: #fff;
    opacity: 1;
    border-radius: 50px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transition: 0.4s;
    position: relative;
    background-color: var(--webex-primary-color3);
    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      border: 1px solid var(--webex-primary-color3);
      border-radius: 50%;
      z-index: 3;
    }
  }
}
