/*========================================*/
/*---------- [_Section_Service] ----------*/
/*========================================*/
//services_list_style1
.services_list_style1 {
  .service_item {
    &:first-child {
      .service_head {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    &.active {
      .service_head {
        margin-bottom: 50px;
        &:before {
          transform: translateY(-50%) rotate(220deg);
        }
      }
      .service_content {
        visibility: visible;
        transform: scaleY(1);
        opacity: 1;
        height: auto;
        visibility: visible;
        @media screen and (max-width: 768px) {
          margin-bottom: 40px;
        }
      }
    }
    .service_head {
      @media screen and (max-width: 768px) {
        padding: 20px 0 0 0;
      }
      @media screen and (max-width: 425px) {
        padding: 10px 0 20px 0;
      }
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: center;
      padding: 40px 0 0 0;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      &:before {
        content: "\e90e";
        font: 400 normal 30px/1em "webexbaseicon";
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        @include transition(all 500ms ease-out 0s);
        @media screen and (max-width: 425px) {
          font-size: 18px;
        }
      }
      .service_count {
        width: 10.63%;
        font-weight: 600;
        letter-spacing: -0.03em;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        margin-top: -30px;
        @media screen and (max-width: 425px) {
          margin-top: 0;
        }
      }
      .service_title {
        @media screen and (max-width: 1024px) {
          font-size: 84px;
          line-height: 84px;
        }
        @media screen and (max-width: 768px) {
          font-size: 56px;
          line-height: 56px;
        }
        @media screen and (max-width: 425px) {
          font-size: 28px;
          line-height: 56px;
        }
        width: 100%;
        padding: 0 30px 0 0;
        line-height: 60px;
        margin: 0;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        font-size: 100px;
        font-weight: 600;
      }
    }
    .service_content {
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
      }
      display: flex;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease, padding 0.5s ease, margin-bottom 0.5s ease;
      opacity: 0;
      height: 0;
      padding: 0 2rem;
      margin-bottom: 15px;
      overflow: hidden;
      justify-content: space-between;
      gap: 4rem;
      border-radius: 10px;
      margin-left: 110px;
      visibility: hidden;
      @media screen and (max-width: 1024px) {
        padding: 0;
        margin-left: 0;
      }
      .service_content_left {
        img {
          border-radius: 10px;
        }
      }
      .service_content_right {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        .service_content_list {
          width: 100%;
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 425px) {
            flex-direction: column;
          }
          .list1 {
            li {
              position: relative;
              font-size: 16px;
              text-transform: uppercase;
              margin-bottom: 15px;
              color: #ccc;
              &:before {
                content: "\e882";
                font-family: "webexbaseicon";
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
//services_list_style2
.services_list_style2 {
  .services_item {
    position: relative;
    &:hover {
      .portivio-hover-reveal-bg {
        opacity: 1;
      }
    }
    .services_wrap {
      @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 30px;
      }
      position: relative;
      padding: 50px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border-top: 1px solid #ffffff1a;
      border-bottom: 1px solid #ffffff1a;
      justify-content: space-between;
      .services_title_area {
        flex-basis: 30%;
        display: flex;
        gap: 30px;
      }
      .services_content {
        flex-basis: 40%;
        .services_type_list {
          li {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;
            i {
              color: var(--webex-primary-color4);
            }
          }
        }
      }
      .services_link {
        display: flex;
        height: 110px;
        width: 110px;
        background: url("../../images/service/h2-s2-link-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 22px;
        transition: all 400ms ease;
        i {
          display: block;
          transition: all 400ms ease;
        }
        &:hover {
          i {
            transform: rotate(45deg);
          }
        }
      }
    }
    .portivio-hover-reveal-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 220px;
      height: 265px;
      opacity: 0;
      border-radius: 10px;
      margin: -60px 0 0 -80px;
      overflow: hidden;
      pointer-events: none;
      z-index: 99;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
//services_list_style3
.services_list_style3 {
  .services_item {
    position: relative;
    .services_wrap {
      position: relative;
      padding: 50px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      align-items: center;
      border-top: 1px solid #ffffff1a;
      border-bottom: 1px solid #ffffff1a;
      justify-content: space-between;
      @media screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .services_title_area {
        flex-basis: 45%;
        display: flex;
        align-items: flex-start;
        gap: 30px;
        @media screen and (max-width: 1199px) {
          flex-direction: column;
        }
        .services_icon {
          flex-shrink: 0;
          margin-top: 15px;
        }
        .services_content {
          .services_title {
            font-size: 96px;
            line-height: 96px;
            margin-bottom: 35px;
            @media screen and (max-width: 425px) {
              font-size: 46px;
              line-height: 46px;
            }
          }
          .services_description {
            margin-bottom: 15px;
          }
        }
        .services_type_list {
          li {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;
            i {
              color: var(--webex-primary-color3);
            }
          }
        }
      }
      .services_thumb {
        flex-basis: 30%;
        @media screen and (max-width: 991px) {
          margin-top: 30px;
          margin-bottom: 40px;
        }
        img {
          border-radius: 10px;
        }
      }
      .services_link {
        display: flex;
        height: 110px;
        width: 110px;
        background: url("../../images/service/h2-s2-link-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 22px;
        transition: all 400ms ease;
        i {
          display: block;
          transition: all 400ms ease;
        }
        &:hover {
          i {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
