/*========================================*/
/*-------- [_Section_testimonials] -------*/
/*========================================*/

//Testimonial Style 01
.testimonial_01_quote_box {
  .rate {
    margin: 18px 0 10px 0;
  }
  .ratings {
    i {
      font-size: 14px;
      color: #ffc107;
    }
  }
}
.testimonial_01_item {
  display: flex;
  gap: 60px;
  @media screen and (max-width: 991px) {
    flex-direction: column;
    gap: 30px;
  }
  .testimonial_thumbnail {
    flex-shrink: 0;
    @media screen and (max-width: 991px) {
      width: 320px;
    }
    img {
      border-radius: 10px;
    }
  }
  .testimonial_content {
    .comments {
      font-size: 24px;
      line-height: 38px;
      color: #cccccc;
      margin-bottom: 40px;
      @media screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 1.6;
      }
    }
  }
}
//Navigation Style01
.testimonial_01_nav {
  > div {
    position: absolute;
    left: 41%;
    bottom: 7%;
    z-index: 3;
    @media screen and (max-width: 991px) {
      left: auto;
      right: 85px;
      bottom: 6%;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0;
      height: 30px;
      width: 30px;
      font-family: "webexbaseicon";
      text-align: center;
      color: #fff;
    }
  }
  .testimonial_01_button_next {
    &:after {
      content: "";
      background: url("../../images/testimonials/next.png");
      background-repeat: no-repeat;
      left: 45px;
      right: 0;
      margin: 0 auto;
    }
  }
  .testimonial_01_button_prev {
    &:after {
      content: "";
      background: url("../../images/testimonials/prev.png");
      background-repeat: no-repeat;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .testimonial_01_pagination {
    @media screen and (max-width: 991px) {
      display: none;
    }
    background: #ffffff00;
    position: absolute;
    line-height: 1.2;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    bottom: 0;
    left: 52%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96px;
    z-index: 3;
    border: 1px solid #ffffff2b;
    padding: 8px 18px;
    border-radius: 30px;
    span {
      height: 18px;
      width: 15px;
      border-right: 2px solid #fff;
      position: absolute;
      transform: rotate(27deg) translateY(-50%);
      top: 50%;
      left: 30px;
      margin-top: -3px;
    }
  }
}

//Testimonial Style 02
.testimonial_02_carousel {
  &.home_02 {
    .swiper-slide-active {
      .testimonial_02_item {
        border: 1px solid var(--webex-primary-color4);
      }
    }
  }
  .swiper-slide-active {
    .testimonial_02_item {
      border: 1px solid var(--webex-primary-color);
    }
  }
  .testimonial_02_item {
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #000;
    border-radius: 15px;
    margin-left: 40px;
    @media screen and (max-width: 425px) {
      padding: 30px;
    }
    .testimonial_content {
      .comments {
        font-size: 24px;
        line-height: 38px;
        color: #cccccc;
        margin-bottom: 40px;
        @media screen and (max-width: 425px) {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    .testimonial_thumbnail {
      display: flex;
      align-items: center;
      gap: 30px;
      img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        object-position: top center;
        border-radius: 50%;
      }
    }
  }
}
//testimonial_02_dots
.testimonial_02_dots {
  &.home_02 {
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: var(--webex-primary-color4);
      &::before {
        border: 1px solid var(--webex-primary-color4);
      }
    }
  }
  margin-top: 30px;
  text-align: center;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transition: 0.4s;
    background: #fff;
    opacity: 1;
    border-radius: 50px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transition: 0.4s;
    position: relative;
    background-color: var(--webex-primary-color);
    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      border: 1px solid var(--webex-primary-color);
      border-radius: 50%;
      z-index: 3;
    }
  }
}
//Testimonial Style 03
.testimonial_03_item {
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #18191b;
  border-radius: 15px;
  .testimonial_content {
    .comments {
      font-size: 24px;
      line-height: 38px;
      color: #cccccc;
      margin-bottom: 40px;
      @media screen and (max-width: 425px) {
        font-size: 18px;
        line-height: 32px;
      }
      .testimonial_quote {
        display: inline-flex;
        margin-right: 15px;
        color: var(--webex-primary-color3);
        font-size: 24px;
        line-height: 0;
        position: relative;
        top: 8px;
      }
    }
  }
  .testimonial_thumbnail {
    display: flex;
    align-items: center;
    gap: 30px;
    img {
      width: 65px;
      height: 65px;
      object-fit: cover;
      object-position: top center;
      border-radius: 50%;
    }
  }
}
