/*========================================*/
/*------------- [_Home_Slider] -----------*/
/*========================================*/

//Home Banner 01
.home_banner_01 {
  position: relative;
  z-index: 2;
  overflow: hidden;
  .h1-banner-social-list {
    @media screen and (max-width: 1400px) {
      display: none;
    }
    position: absolute;
    top: 50%;
    left: -60px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    transform: rotate(-90deg);
    ul {
      display: flex;
      align-items: center;
      color: #fff;
      gap: 25px;
      li {
        position: relative;
        &:first-child {
          &::after {
            display: none;
          }
        }
        &:after {
          content: "/";
          position: absolute;
          right: calc(100% + 10px);
        }
        a {
          color: #fff;
        }
      }
    }
  }
  .banner-item {
    .banner-info {
      margin-left: 200px;
      margin-top: -60px;
      @media screen and (max-width: 1024px) {
        margin-top: 0;
        margin-left: 100px;
      }
      @media screen and (max-width: 768px) {
        margin-left: 0;
      }
    }
    .banner-subtitle {
      color: var(--webex-primary-color);
      display: block;
      font-size: 16px;
      letter-spacing: 0.02rem;
      text-transform: uppercase;
    }
    .h1-banner-title {
      font-size: 150px;
      line-height: 1;
      @media screen and (max-width: 1399px) {
        font-size: 120px;
      }
      @media screen and (max-width: 1299px) {
        font-size: 120px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 100px;
      }
      @media screen and (max-width: 991px) {
        font-size: 72px;
      }
      @media screen and (max-width: 767px) {
        font-size: 56px;
      }
      @media screen and (max-width: 425px) {
        font-size: 42px;
      }
      .h1-banner-emoji {
        position: relative;
        top: -20px;
        img {
          animation: spin 7s linear infinite;
        }
        @media screen and (max-width: 425px) {
          display: none;
        }
      }
    }
    .h1-banner-text {
      position: relative;
      margin-bottom: 40px;
      margin-top: 30px;
      padding-left: 30px;
      &:before {
        content: "";
        height: 15px;
        width: 15px;
        background: var(--webex-primary-color);
        position: absolute;
        left: 0;
        top: 8px;
        border-radius: 3px;
      }
    }
    .banner-thumb {
      margin-top: -230px;
      position: relative;
      @media screen and (max-width: 1199px) {
        margin-left: 0;
        right: 50px;
        left: auto;
        width: 465px;
        position: absolute;
        bottom: 0;
      }
      @media screen and (max-width: 768px) {
        width: 370px;
      }
      .h1-obj1 {
        position: absolute;
        left: -190px;
        top: 215px;
        z-index: -1;
        animation: float-obj-y 3s linear infinite;
      }
      .h1-obj2 {
        position: absolute;
        left: 360px;
        top: 240px;
        animation: pulse 1s linear infinite;
      }
      .story-box {
        @media screen and (max-width: 1024px) {
          display: none;
        }
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #fff;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        border-radius: 10px;
        .quote-icon {
          display: inline-flex;
          background: var(--webex-primary-color);
          color: var(--text-webex-primary-color);
          height: 70px;
          width: 70px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }
        .story-description {
          .title {
            margin-bottom: 10px;
            font-family: var(--body-font);
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            color: #000;
          }
          .name {
            color: #999;
          }
        }
      }
    }
  }
  .shape-1 {
    position: absolute;
    left: 0;
    margin: 0 auto;
    top: -205px;
    width: 120px;
    height: 600px;
    background: var(--gradient-color1);
    z-index: 1;
    transform: rotate(31deg);
    opacity: 0.1;
  }
  .shape-2 {
    position: absolute;
    right: 50px;
    bottom: 70px;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    background: var(--gradient-color1);
    z-index: 2;
    filter: hue-rotate(8deg);
    opacity: 0.1;
    animation: twinRotate infinite 6s;
  }
}

//Home Banner 02
.home_banner_02 {
  .banner-item {
    .h2-banner-title {
      font-size: 182px;
      line-height: 182px;
      @media screen and (max-width: 1399px) {
        font-size: 120px;
      }
      @media screen and (max-width: 1299px) {
        font-size: 120px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 100px;
      }
      @media screen and (max-width: 991px) {
        font-size: 84px;
        line-height: 1;
      }
      @media screen and (max-width: 767px) {
        font-size: 56px;
        line-height: 1.4;
        text-align: center;
      }
      @media screen and (max-width: 425px) {
        font-size: 42px;
      }
    }
    .h2-banner-title2 {
      font-size: 110px;
      line-height: 110px;
      font-weight: 400;
      @media screen and (max-width: 1399px) {
        font-size: 92px;
      }
      @media screen and (max-width: 1299px) {
        font-size: 92px;
      }
      @media screen and (max-width: 1199px) {
        font-size: 72px;
      }
      @media screen and (max-width: 991px) {
        font-size: 64px;
      }
      @media screen and (max-width: 767px) {
        font-size: 56px;
        line-height: 1.4;
        text-align: center;
      }
      @media screen and (max-width: 425px) {
        font-size: 42px;
      }
    }
    .h2-banner-man {
      margin-top: -445px;
      z-index: 2;
      position: relative;
      @media screen and (max-width: 991px) {
        margin-top: -380px;
      }
      @media screen and (max-width: 767px) {
        margin-top: -60px;
      }
    }
    .h2-banner-text {
      @media screen and (max-width: 767px) {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}

//Home Banner 03
.home_banner_03 {
  position: relative;
  .h3-banner-subtitle {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media screen and (max-width: 991px) {
      justify-content: center;
    }
  }
  .h3-banner-title {
    font-size: 120px;
    line-height: 140px;
    margin-right: -200px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1440px) {
      font-size: 100px;
    }
    @media screen and (max-width: 1399px) {
      font-size: 90px;
      line-height: 1.3;
    }
    @media screen and (max-width: 1299px) {
      font-size: 84px;
      line-height: 1.3;
    }
    @media screen and (max-width: 1024px) {
      font-size: 72px;
      line-height: 1.3;
    }
    @media screen and (max-width: 991px) {
      font-size: 64px;
      line-height: 1.3;
      margin-right: 0;
      text-align: center;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 767px) {
      font-size: 56px;
      line-height: 1.3;
      text-align: center;
    }
    @media screen and (max-width: 425px) {
      font-size: 42px;
    }
  }
  .h3-banner-text {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    font-size: 18px;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
  .portivio-btn-block-2 {
    @media screen and (max-width: 991px) {
      width: 100%;
      justify-content: center;
    }
  }
  .h3-banner-man {
    z-index: 3;
    position: relative;
    @media screen and (max-width: 991px) {
      margin-top: 60px;
    }
  }
  .h3-banner-shape:after {
    content: "";
    height: 837px;
    width: 800px;
    position: absolute;
    top: 100px;
    right: 0;
    background: url("../../images/bg/h3-banner-shap.png");
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (max-width: 1199px) {
      opacity: 0.3;
      right: -100px;
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .h3-big-text {
    position: absolute;
    top: 45%;
    left: -190px;
    font-size: 130px;
    font-weight: bold;
    line-height: 1;
    transform: rotate(-90deg);
    letter-spacing: 10px;
    background: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.12);
    z-index: 0;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .h3-banner-circle-text {
    position: absolute;
    bottom: 172px;
    z-index: 3;
    right: 0;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}
