/*========================================*/
/*-------------- [_Page_Title] -----------*/
/*========================================*/
.page-title-section {
  background-position: center;
  background-color: #f8f8f8;
  background-image: url(../../images/bg/bg1.jpg);
  display: flex;
  align-items: end;
  min-height: 535px;
  position: relative;
  padding: 150px 0;
  @media (max-width: 425px) {
    min-height: 435px;
  }
  .breadcrumb-area {
    text-align: center;
    z-index: 2;
    position: relative;
    .page-title {
      color: #fff;
      margin-bottom: 30px;
      letter-spacing: 3px;
    }
    .breadcrumbs-link {
      display: inline-block;
      background: var(--webex-primary-color);
      padding: 8px 40px;
      border-radius: 5px;
      li {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        color: var(--text-webex-primary-color);
        a {
          color: var(--text-webex-primary-color) f;
        }
        &:after {
          display: inline-block;
          content: "\e957";
          font-family: "webexbaseicon";
          font-weight: 600;
          margin-left: 15px;
          margin-right: 12px;
          color: var(--text-webex-primary-color);
          font-size: 12px;
        }
        &.active {
          color: var(--text-webex-primary-color);
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &:after {
    background: linear-gradient(350deg, #00000082, #000000c2);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
}
