/*========================================*/
/*------------ [_Reset_Styles] -----------*/
/*========================================*/
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none !important;
}
::-moz-selection {
  background: #0140a6;
  color: #fff;
  text-shadow: none;
}
::-webkit-scrollbar {
  background-color: var(--bg-silver);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4a4c5b;
}
::selection {
  background: #0140a6;
  color: #fff;
  text-shadow: none;
}
.img-full {
  width: 100%;
}
