/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/
body {
  color: var(--body-font-color);
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-font-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #000;
  background-image: url("../../images/bg/body-noise.png");
}

p {
  position: relative;
  margin: 0 0 20px;
  line-height: 1.8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-font-color);
  margin: 0;
  font-family: var(--heading-font);
  position: relative;
}
h1,
h2 {
  font-weight: var(--h1-h2-font-weight);
  line-height: 1.2;
}
h3,
h4 {
  font-weight: var(--h3-h4-font-weight);
}
h5,
h6 {
  font-weight: var(--h5-h6-font-weight);
}
h1 {
  font-size: 56px;
  @media screen and (max-width: 425px) {
    font-size: 42px;
  }
  @media screen and (max-width: 320px) {
    font-size: 38px;
  }
}
h2 {
  font-size: 46px;
  @media screen and (max-width: 425px) {
    font-size: 38px;
  }
}
h3 {
  font-size: 26px;
  line-height: 1.4;
}
h4 {
  font-size: 22px;
  line-height: 1.4;
}
h5 {
  font-size: 20px;
  line-height: 1.2;
}
h6 {
  font-size: 16px;
  line-height: 1.2;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--heading-font-color);
  font-family: var(--heading-font);
}
b,
strong {
  color: var(--heading-font-color);
}
iframe {
  border: none;
}

a,
b,
div,
ul,
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-outline-: none;
}
input,
select,
textarea,
input[type="text"],
input[type="date"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"],
button,
button[type="submit"] {
  -moz-appearance: none;
  box-shadow: none !important;
}

img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

a {
  @include transition(all 300ms ease-out 0s);
  text-decoration: none;
  cursor: pointer;
  color: #049ad3;
  font-family: var(--body-font);
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
a:hover {
  color: var(--webex-primary-color);
  text-decoration: none;
}
ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
img {
  border: none;
  max-width: 100%;
}
.clear-both:before,
.clear-both:after {
  display: table;
  content: "";
  clear: both;
}
.block-quote {
  padding: 25px 30px 30px 30px;
  background: var(--bg-black);
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
  text-align: center;
  border-radius: 8px;
}
.block-quote:after {
  position: absolute;
  content: "\e921";
  font-family: "webexbaseicon";
  font-size: 15rem;
  bottom: 80px;
  left: 0;
  right: 0;
  opacity: 0.1;
  color: var(--webex-primary-color);
}
.block-quote p {
  font-size: 20px;
}
