/*========================================*/
/*---------------- [_widget] -------------*/
/*========================================*/

/*Widget Search*/
.sidebar-widget {
  padding: 40px 45px 40px 45px;
  margin-bottom: 38px;
  background: var(--bg-black);
  border-radius: 10px;
  @media screen and (max-width: 425px) {
    padding: 30px;
  }
  &.widget-search {
    padding: 30px;
  }
}
.widget-title {
  position: relative;
}
.service-details-page {
  .widget-title {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      height: 4px;
      width: 58px;
      left: 0;
      bottom: -15px;
      background: var(--webex-primary-color);
      border-radius: 6px;
    }
  }
}
.single-blog-widget-title {
  position: relative;
  padding: 0 0 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.news-sidebar-widget {
  .widget-search {
    .search-form {
      position: relative;
      label {
        display: block;
        margin-bottom: 0;
      }
      input {
        height: 60px;
        padding: 6px 25px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        display: block;
        outline: 0;
        color: #fff;
        background: var(--bg-silver);
        border-radius: 8px;
        @include transition(0.5s);
      }
      button {
        position: absolute;
        right: 5px;
        outline: 0;
        bottom: 5px;
        height: 50px;
        width: 50px;
        z-index: 1;
        border: none;
        border-radius: 8px;
        color: var(--text-webex-primary-color);
        background-color: var(--webex-primary-color);
        @include transition(0.5s);
        cursor: pointer;
        i {
          line-height: 1;
          &::before {
            font-size: 18px;
            line-height: 50px;
          }
        }
        &:hover {
          background-color: var(--webex-primary-color2);
        }
      }
    }
  }
  .widget-popular-posts {
    .post-date {
      font-size: 14px;
      display: inline-block;
      margin-bottom: 5px;
      i {
        color: var(--webex-primary-color);
      }
    }
  }
  .widget-categories,
  .widget-archives {
    ul {
      li {
        display: inherit;
        padding: 5px 0;
        a {
          color: var(--body-font-color);
          &:hover {
            color: var(--webex-primary-color);
          }
        }
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
  .widget-tags {
    ul {
      li {
        display: inline;
        a {
          background: var(--bg-silver);
          color: var(--body-font-color);
          font-size: 14px;
          margin-right: 10px;
          margin-top: 14px;
          padding: 5px 16px 5px 16px;
          border-radius: 6px;
          display: inline-block;
          &:hover {
            color: var(--text-webex-primary-color);
            background: var(--webex-primary-color);
          }
        }
      }
    }
  }
}

.news-sidebar-widget .widget-categories ul li:last-child,
.news-sidebar-widget .widget-archives ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.single-post {
  padding-bottom: 20px;
}
.single-post:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.single-post .post-image img {
  border-radius: 6px;
}

.sidebar-widget-need-help {
  padding: 45px;
  background: url(../../images/bg/bg1.jpg);
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  border-radius: 10px;
  &:after {
    content: "";
    background: var(--bg-black);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    z-index: 0;
    border-radius: 10px;
  }
  .need-help-icon {
    position: relative;
    z-index: 1;
    height: 76px;
    width: 76px;
    line-height: 76px;
    background-color: var(--webex-primary-color);
    border-radius: 50%;
    margin: 0 auto 35px;
    box-shadow: 0 0 0px 10px #ffffff1c;
    img {
      width: 38px;
    }
    span {
      &:before {
        font-size: 36px;
        line-height: 76px;
        color: var(--text-webex-primary-color);
      }
    }
  }
  .need-help-title {
    position: relative;
    z-index: 1;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 30px;
  }
  .need-help-contact {
    position: relative;
    z-index: 1;
    color: #fff;
    .call-text {
      margin-bottom: 5px;
    }
    a {
      font-size: 28px;
      color: #fff;
      font-weight: 800;
      font-family: var(--heading-font);
    }
  }
}
