/*========================================*/
/*-------------- [_Awards] ---------------*/
/*========================================*/
.award_style1 {
  margin: 0 auto;
  .award_item {
    position: relative;
    &:hover {
      .portivio-hover-reveal-bg {
        opacity: 1;
      }
    }
    .award_content {
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
      }
      position: relative;
      padding: 50px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #ffffff1a;
      border-bottom: 1px solid #ffffff1a;
      .award_name {
        flex-basis: 20%;
      }
      .award_title_area {
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
    .portivio-hover-reveal-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 220px;
      height: 130px;
      opacity: 0;
      border-radius: 10px;
      margin: -60px 0 0 -150px;
      overflow: hidden;
      pointer-events: none;
      z-index: 99;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
//Award Style 02
.award_style2 {
  .award_item {
    position: relative;
    &:hover {
      .portivio-hover-reveal-bg {
        opacity: 1;
      }
    }
    .award_content {
      @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
      }
      position: relative;
      padding: 50px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #ffffff1a;
      border-bottom: 1px solid #ffffff1a;
      .award_name {
        flex-basis: 20%;
      }
      .award_title_area {
        flex-basis: 30%;
        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }
    }
    .portivio-hover-reveal-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 212px;
      opacity: 0;
      border-radius: 10px;
      margin: -60px 0 0 -150px;
      overflow: hidden;
      pointer-events: none;
      z-index: 99;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
//Award Display Home02
.award_display {
  @media screen and (max-width: 425px) {
    padding: 30px;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }
  max-width: 700px;
  background: #fff;
  padding: 50px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  .title {
    color: #000;
  }
}
.rating_image_01 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
