/*========================================*/
/*-------------- [_Funfact] --------------*/
/*========================================*/
.counter_up_01 {
  .counter_up_value {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    .counter_up_number {
      @media screen and (max-width: 425px) {
        font-size: 94px;
      }
      font-size: 120px;
      font-family: var(--heading-font);
      line-height: 1;
      background: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #fff;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      .counter_up_postfix {
        @media screen and (max-width: 425px) {
          font-size: 94px;
        }
        font-size: 120px;
        font-family: var(--heading-font);
        line-height: 1;
        background: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 600;
      }
    }
  }
  .counter_up_title {
    margin-left: 15px;
    font-size: 20px;
    line-height: 30px;
  }
}
//counter_up_02
.counter_up_02_wrapper {
  &:last-child {
    .counter_up_02 {
      &:after {
        display: none;
      }
    }
  }
  .counter_up_02 {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: rgba(255, 255, 255, 0.1);
      top: 15px;
      left: calc(100% + 80px);
      height: 80px;
      width: 1px;
      @media screen and (max-width: 1199px) {
        display: none;
      }
    }
    .counter_up_value {
      display: flex;
      align-items: center;
      gap: 10px;
      text-transform: uppercase;
      .counter_up_number {
        @media screen and (max-width: 425px) {
          font-size: 72px;
        }
        font-size: 100px;
        font-family: var(--heading-font);
        line-height: 1;
        background: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #fff;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        .counter_up_postfix {
          @media screen and (max-width: 425px) {
            font-size: 72px;
          }
          font-size: 100px;
          font-family: var(--heading-font);
          line-height: 1;
          background: transparent;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px #fff;
          font-weight: 600;
        }
      }
    }
    .counter_up_title {
      margin-left: 15px;
    }
  }
}
//counter_up_03
.counter_up_03 {
  position: relative;
  .counter_up_value {
    .counter_up_number {
      font-size: 100px;
      font-family: var(--heading-font);
      line-height: 1;
      color: #fff;
      letter-spacing: 1px;
    }
  }
  .counter_up_title {
    margin-left: 15px;
  }
}
//counter_up_04
.counter_up_04 {
  position: relative;
  flex-shrink: 0;
  margin-right: 50px;
  padding: 30px 50px 30px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  @media screen and (max-width: 425px) {
    padding: 30px 30px 30px 0;
    margin-right: 30px;
  }
  @media screen and (max-width: 375px) {
    display: none;
  }
  .counter_up_value {
    .counter_up_number {
      font-size: 48px;
      font-family: var(--heading-font);
      line-height: 60px;
      color: #fff;
      letter-spacing: 1px;
    }
    .counter_up_postfix {
      font-size: 48px;
      font-family: var(--heading-font);
      line-height: 60px;
      color: #fff;
      letter-spacing: 1px;
    }
  }
  .counter_up_title {
    font-size: 20px;
    line-height: 30px;
  }
}
