/*========================================*/
/*---------- [_Object_Animaiton] ---------*/
/*========================================*/
.dot-circle {
  position: relative;
  &:after {
    background-image: radial-gradient(var(--webex-primary-color) 1px, #ff000000 2.2px);
    background-size: 0.7rem 0.7rem;
    position: absolute;
    left: 20px;
    content: "";
    width: 170px;
    height: 260px;
    top: 60px;
    z-index: -1;
    opacity: 0.3;
    animation: float-y-axis 4s infinite alternate;
  }
}

//Team Section Objects
.team-section-obj1 {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}
//Request a Call Back Section Objects Style1
.request-a-call-back-form-section-style1 {
  .request-a-call-back-section-obj1 {
    position: absolute;
    bottom: 20px;
    left: 170px;
    width: 135px;
    opacity: 0.5;
    animation: float-obj-x infinite 3s;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
  .brand-obj1 {
    position: absolute;
    bottom: -165px;
    right: 56px;
    opacity: 0.05;
    animation: float-obj-y infinite 3s;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
//Request a Call Back Section Objects Style3
.request-a-call-back-form-section-style3 {
  .request-a-call-back-section-obj1 {
    position: absolute;
    bottom: 20px;
    left: 170px;
    width: 135px;
    opacity: 0.5;
    animation: float-obj-x infinite 3s;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
  .brand-obj1 {
    position: absolute;
    bottom: -165px;
    right: 56px;
    opacity: 0.05;
    animation: float-obj-y infinite 3s;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
//About Us Objects Style3
.about-us-section-style3 {
  position: relative;
  .arrow-obj1 {
    position: absolute;
    bottom: 120px;
    left: 170px;
    width: 135px;
    opacity: 0.5;
    z-index: 0;
    animation: float-obj-x infinite 3s;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  .brand-obj1 {
    position: absolute;
    top: -185px;
    right: 56px;
    opacity: 0.05;
    z-index: -1;
    animation: float-obj-y infinite 3s;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

//Why Choose Us Section Objects
.why-choose-us-section-style1 {
  position: relative;
  .why-choose-us-style2-obj1 {
    position: absolute;
    bottom: -43px;
    right: 0;
    animation: float-obj-y infinite 3s;
    opacity: 0.6;
    mix-blend-mode: color-dodge;
    @media screen and (max-width: 1024px) {
      opacity: 0.4;
    }
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
  .why-choose-us-style2-obj2 {
    position: absolute;
    bottom: -75px;
    right: 0;
    animation: float-obj-y infinite 4s;
    opacity: 0.7;
    mix-blend-mode: color-dodge;
    @media screen and (max-width: 1024px) {
      opacity: 0.4;
    }
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}

//Footer Section Objects
.footer-section-obj1 {
  position: absolute;
  bottom: 30px;
  width: 520px;
  left: -135px;
  opacity: 0.12;
  z-index: 0;
  animation: float-obj-y infinite 3s;
  @media screen and (max-width: 425px) {
    width: 275px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
.footer-section-obj2 {
  position: absolute;
  top: 30px;
  width: 320px;
  right: 0;
  animation: float-obj-x infinite 3s;
  opacity: 0.02;
}

//Shine Effect
.shine-effect {
  position: relative;
  overflow: hidden;
  &:before {
    position: absolute;
    top: 0;
    left: -80%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.2)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    z-index: 1;
  }
  &:hover {
    &:before {
      -webkit-animation: shine 1.3s;
      animation: shine 1.3s;
    }
  }
}

//Home Banner 03
.shape-position {
  position: relative;
  overflow: hidden;
  .shape-obj1 {
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 30%;
    background-image: -webkit-linear-gradient(230deg, rgba(255, 255, 255, 0) 0%, #f02830 100%);
    top: -115px;
    right: -366px;
    opacity: 0.1;
    z-index: 0;
    animation: float-obj-y2 infinite 2s;
  }
  .shape-obj2 {
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 20%;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f02830 100%);
    bottom: -200px;
    left: -335px;
    opacity: 0.08;
    z-index: 0;
    animation: float-obj-y2 infinite 3s;
  }
}

.text-obj2 {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background: url(../../images/objects/funfact-obj1.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: -1;
    height: 100%;
    width: 245px;
    top: 0px;
    right: 0;
    opacity: 0.35;
    animation: pulse infinite 2s;
  }
}
