/*=================================================*/
/*-------------- [Pricing_Tables] -----------------*/
/*=================================================*/
//Pricing Switch
.pricing-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: middle;
    margin: 0 12px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + {
        .slider {
          background-color: var(--webex-primary-color2);
          &:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--webex-primary-color);
      -webkit-transition: 0.4s;
      transform: translate(0px, 0px);
      transition: 0.6s ease transform, 0.6s box-shadow;
      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--bg-white);
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
      &.round {
        border-radius: 34px;
        &:before {
          border-radius: 50%;
        }
      }
    }
  }
}
.yearlyPrice,
.monthlyPrice {
  font-size: 36px;
  background: var(--bg-white);
  padding: 30px 15px;
  border: 1px solid #eee;
  span {
    font-size: 24px;
    font-weight: 500;
    color: var(--body-font-color);
    margin-left: 5px;
  }
}

//Pricing Style 01
.pricing_style_01 {
  .pricing_inner {
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      padding: 40px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2a2d32;
    padding: 50px;
    position: relative;
    border-radius: 10px;
    border: 1px solid transparent;
    @include transition(all 0.4s);
    &:hover {
      border: 1px solid var(--webex-primary-color4);
      &:before {
        transform: scaleY(1);
      }
    }
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #0e0e0e;
      left: 0;
      top: 0;
      margin: 0 auto;
      z-index: 0;
      transform: scaleY(0);
      transform-origin: top;
      border-radius: 10px;
      @include transition(all 0.4s);
      z-index: 0;
    }
    &:after {
      content: "";
      height: 80%;
      width: 1px;
      background: rgba(255, 255, 255, 0.1);
      position: absolute;
      left: 50%;
      bottom: 0;
      top: calc(0% + 30px);
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .pricing_left_part {
      .pricing_notice {
        margin-bottom: 40px;
        display: block;
        color: #ccc;
        position: relative;
        z-index: 1;
      }
      .pricing_amount {
        margin-bottom: 45px;
        position: relative;
        z-index: 1;
      }
    }
    .pricing_right_part {
      .pricing_features_title {
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
      }
      .pricing_list_items {
        position: relative;
        z-index: 1;
        li {
          padding: 10px 0 0 25px;
          position: relative;
          &::before {
            content: "\e932";
            font-family: "webexbaseicon";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-5px);
            color: #ccc;
            line-height: 1;
          }
        }
      }
    }
  }
}
