/*========================================*/
/*----------- [_Section_Title] -----------*/
/*========================================*/
.section-title {
  margin-bottom: 50px;
  .title-box,
  .title-box-center {
    position: relative;
    .sub-title {
      font-size: var(--sub-title-font-size);
      font-family: var(--body-font);
      font-weight: var(--sub-title-font-weight);
      letter-spacing: var(--sub-title-letter-spacing);
      text-transform: uppercase;
      color: #ccc;
      display: inline-block;
      margin-bottom: 10px;
      z-index: 1;
    }
    .title {
      color: #fff;
    }
  }
}
.title-box,
.title-box-center {
  position: relative;
  .sub-title {
    font-size: var(--sub-title-font-size);
    font-family: var(--body-font);
    font-weight: var(--sub-title-font-weight);
    letter-spacing: var(--sub-title-letter-spacing);
    text-transform: uppercase;
    color: #ccc;
    display: inline-block;
    margin-bottom: 10px;
    z-index: 1;
  }
  .title {
    color: #fff;
  }
}
//big_title
.big_title {
  font-size: 120px;
  line-height: 140px;
  margin-right: -200px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 1440px) {
    font-size: 100px;
  }
  @media screen and (max-width: 1399px) {
    font-size: 90px;
    line-height: 1.3;
  }
  @media screen and (max-width: 1299px) {
    font-size: 84px;
    line-height: 1.3;
  }
  @media screen and (max-width: 1024px) {
    font-size: 72px;
    line-height: 1.3;
  }
  @media screen and (max-width: 991px) {
    font-size: 64px;
    line-height: 1.3;
    margin-right: 0;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    font-size: 56px;
    line-height: 1.3;
  }
  @media screen and (max-width: 425px) {
    font-size: 42px;
  }
}
