/*========================================*/
/*------------- [_Title_Lines] -----------*/
/*========================================*/
.side-line-left {
  position: relative;
  padding-left: 70px;
  font-weight: var(--sub-title-font-weight);
  letter-spacing: var(--sub-title-letter-spacing);
  font-size: var(--sub-title-font-size);
  margin-bottom: 10px;
  &:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 35px;
    background: var(--webex-primary-color);
    left: 0px;
    bottom: 12px;
  }
  &:before {
    content: "";
    height: 1px;
    width: 55px;
    position: absolute;
    left: 0;
    bottom: 8px;
    background: var(--webex-primary-color);
  }
  &.white {
    &:before,
    &:after {
      background: #fff;
    }
  }
}
.sub-title-line-bottom {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 1;
  color: var(--webex-primary-color);
  font-weight: 400;
  font-family: var(--body-font);
  margin-bottom: 10px;
  &:before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: -5px;
    right: -5px;
    height: 6px;
    background-color: rgba(var(--webex-primary-color-rgb), 0.2);
    z-index: -1;
  }
}
