.side-panel-logo img {
  width: 150px;
}
.main-menu-logo img {
  width: 150px;
  @media (max-width: 320px) {
    width: 150px;
  }
}
.new-badge {
  display: inline-block;
  padding: 4px 8px;
  font-size: 10px;
  line-height: 1;
  color: var(--text-white);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background: #e30026;
  letter-spacing: 0.03em;
  margin-left: 10px;
}

// ======Search Popup========= //
.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  transition: visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  transition: transform 400ms ease 400ms, visibility 400ms ease 400ms;
  transition: transform 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  visibility: hidden;
}

.search-popup.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  -webkit-transition: visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
  transition: visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
  transition: transform 400ms ease 0ms, visibility 400ms ease 0ms;
  transition: transform 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
}

.search-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--webex-primary-color);
  opacity: 0.9;
  cursor: pointer;
}
.search-popup-content {
  width: 100%;
  max-width: 560px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-130%);
  transform: translateY(-130%);
  -webkit-transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
  transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
  transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, transform 400ms ease 0ms;
  transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, transform 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
}
.search-popup.active .search-popup-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, transform 400ms ease 400ms;
  transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, transform 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
}
.search-popup-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  background-color: var(--bg-white);
  overflow: hidden;
}
.search-popup-content form input[type="search"],
.search-popup-content form input[type="text"] {
  width: 100%;
  background-color: var(--bg-white);
  font-size: 16px;
  border: none;
  outline: none;
  height: 66px;
  padding-left: 30px;
}
.search-popup-content .thm-btn {
  padding: 0;
  width: 68px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: -1px;
  background-color: var(--webex-primary-color3);
  border: 0;
}
.search-popup-content .thm-btn i {
  background-color: transparent;
  margin-left: 0;
  color: var(--heading-font-color);
  font-size: 20px;
}
.search-popup-content .thm-btn:hover {
  background-color: var(--webex-secondary-color);
  i {
    color: var(--text-white);
  }
}
